body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(rgba(29, 18, 34, 0.8), rgba(18, 43, 56, 0.993)),
    url('../img/login.png') center/cover no-repeat;
  height: 100vh;
}
.container {
  width: 95%;
  max-width: 900px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.left-column {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  width: 50%;
  height: 600px;
  float: left;
  padding: 100px 10px 100px 50px;
  color: #fff;
  background: linear-gradient(rgba(14, 139, 161, 0.678), rgba(7, 0, 15, 0.781)),
    url(../img/login.png) top right;
  background-size: cover;
}
.right-column {
  width: 50%;
  height: 600px;
  float: right;
  padding: 100px 80px 100px 50px;
  color: #777;
  background-color: #fff;
}
.heading {
  font-size: 35px;
  margin-bottom: 25px;
}
.left-text {
  margin-bottom: 35px;
  max-width: 300px;
}
.small-text {
  margin-bottom: 12px;
  font-size: 14px;
}
.soc-icon {
  display: block;
  width: 165px;
  font-size: 14px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #3d6caa;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 7px;
}
.fb:hover {
  background: rgb(67, 110, 176);
  background: linear-gradient(
    196deg,
    rgba(67, 110, 176, 1) 0%,
    rgba(66, 127, 176, 1) 0%,
    rgba(46, 130, 149, 1) 49%,
    rgba(26, 48, 120, 1) 100%,
    rgba(40, 65, 146, 1) 100%,
    rgba(53, 107, 171, 1) 100%,
    rgba(36, 82, 142, 1) 100%,
    rgba(45, 82, 156, 1) 100%,
    rgba(28, 42, 144, 1) 100%,
    rgba(40, 13, 107, 1) 100%,
    rgba(43, 45, 167, 1) 100%,
    rgba(19, 54, 163, 0.950315160243785) 100%,
    rgba(84, 29, 143, 1) 100%
  );
}
.soc-icon.tw {
  background: #72c5f5;
  /* margin-bottom: 300px; */
}
.tw:hover {
  background: rgb(82, 170, 249);
  background: linear-gradient(
    196deg,
    rgba(82, 170, 249, 1) 0%,
    rgba(86, 173, 218, 1) 50%,
    rgba(44, 218, 178, 1) 100%
  );
}
.link:hover,
a.btn:hover {
  color: #1171be;
  text-decoration: underline;
}
.soc-icon > i {
  margin-right: 6px;
}
.log-heading {
  margin-bottom: 20px;
}
.right-text {
  font-size: 14px;
  margin-bottom: 15px;
}
.right-text > a {
  color: #72c5f5;
  text-decoration: none;
  font-size: 14px;
}
.login-form {
  width: 100%;
  position: relative;
}
.form-row {
  position: relative;
  opacity: 0.4;
}
.email,
.password,
.name,
.surname,
.re-email {
  display: inline-block;
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border: 2px solid #3a6c83de;
  border-radius: 3px;
}

.fa-envelope {
  position: absolute;
  top: 30%;
  right: 3%;
  font-size: 8px;
}
.fa-key {
  position: absolute;
  bottom: 50%;
  right: 3%;
  font-size: 8px;
}
.fa-check,
.fa-xmark {
  position: absolute;
  top: 15%;
  right: 2%;
  font-size: 8px;
  color: #537e12;
  border: 2px solid #537e12;
  border-radius: 50%;
  padding: 5px;
}
.fa-xmark {
  font-size: 10px;
  padding: 4px 5px;
  color: red;
  border: 2px solid red;
}
i > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.buttons {
  display: inline-block;
  font-size: 14px;
}
.btn {
  float: left;
  border: none;
  background-color: #fff;
  color: #72c5f5;
  text-decoration: none;
  cursor: pointer;
  margin-top: 5px;
}
.btn.green {
  margin: 0;
  margin-right: 20px;
  padding: 6px 10px;
  font-weight: bold;
  background-color: #7ac517de;
  border-radius: 5px;
  color: #fff;
}
.btn.green:hover {
  background: rgb(58, 179, 46);
  background: linear-gradient(
    196deg,
    rgba(58, 179, 46, 1) 0%,
    rgba(185, 230, 74, 1) 100%
  );
}

@media screen and (max-width: 650px) {
  .left-column {
    padding-left: 20px;
  }
  .right-column {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 500px) {
  .left-column {
    width: 40%;
    padding-left: 10px;
  }
  .right-column {
    width: 60%;
  }
  .soc-icon {
    text-align: center;
    width: 100%;
    padding: 10px 3px;
    font-size: 12px;
  }
}
